<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <img src="/logo.svg" alt="Logo" class="logo" height="800" width="800">
      <h1>MaLoveTang</h1>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/main-dishes" routerLinkActive="active">Main Dishes</a></li>
      <li><a routerLink="/side-dishes" routerLinkActive="active">Side Dishes</a></li>
      <li><a routerLink="/drinks" routerLinkActive="active">Drinks</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    </ul>
  </div>
</nav>
