<div class="menu-items">
  <app-menu-item
    imageSrc="https://upload.wikimedia.org/wikipedia/commons/6/68/Pepsi_2023.svg"
    title="Pepsicola"
    [price]="1.99">
  </app-menu-item>

  <app-menu-item
    imageSrc="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/Articles/best-herbs-for-tea-section-1.jpg"
    title="Herbal Tea"
    [price]="3.50">
  </app-menu-item>

  <app-menu-item
    imageSrc="https://assets.woolworths.com.au/images/1005/1074638754.jpg?impolicy=wowsmkqiema&w=600&h=600"
    title="Master Kong Tea"
    [price]="3.99">
  </app-menu-item>


</div>
