<div class="cards-container flex flex-wrap justify-center gap-8 pt-20">
  <div
    (click)="addToCart()"
    class="w-64 h-auto border border-gray-300 dark:border-gray-700 rounded-lg shadow-lg dark:shadow-gray-700 flex flex-col justify-between transition-transform transform hover:scale-105 hover:shadow-2xl dark:hover:shadow-gray-500 cursor-pointer"
  >
    <div class="w-full">
      <img
        [src]="imageSrc"
        [alt]="title"
        class="w-full h-auto aspect-square object-cover rounded-t-lg"
      >
    </div>
    <div class="p-5 text-center bg-white dark:bg-gray-800 dark:text-gray-300 rounded-b-lg">
      <h3 class="text-2xl font-semibold mb-3 font-poppins text-gray-800 dark:text-gray-100">
        {{ title }}
      </h3>
      <p class="text-xl font-bold text-gray-700 dark:text-gray-400 mb-5 font-poppins">
        {{ '$' + (price | number:'1.2-2') }}
      </p>
    </div>
  </div>
</div>


<ng-template #addToCartDialog let-dialogRef="dialogRef">
    <div
            class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
            (keydown.enter)="onAddToCart(dialogRef)"
    >
        <div
                class="flex flex-col w-full max-w-2xl bg-white dark:bg-gray-800 rounded-lg shadow-2xl transform transition-transform scale-95 animate-scale-in relative"
        >
            <!-- Header -->
            <h2
                    class="text-3xl font-bold text-white text-center p-5 bg-red-600 rounded-t-lg font-poppins"
            >
                Add Item to Cart
            </h2>

            <!-- Content -->
            <div class="flex flex-col sm:flex-row gap-6 p-6">
                <!-- Image -->
                <div class="w-[250px] h-[250px] flex-shrink-0">
                    <img
                            [src]="imageSrc"
                            [alt]="title"
                            class="w-full h-full object-cover rounded-lg shadow-md"
                    >
                </div>

                <!-- Information -->
                <div class="flex-grow dark:text-gray-300">
                    <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-3 font-poppins">
                        {{ title }}
                    </h3>
                    <p class="text-lg text-gray-600 dark:text-gray-400 font-medium mb-5 font-poppins">
                        Price: {{ '$' + (price | number:'1.2-2') }}
                    </p>

                    <div class="mb-5">
                        <label
                                class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins"
                        >
                            Quantity
                        </label>
                        <input
                                type="number"
                                [(ngModel)]="dialogQuantity"
                                min="1"
                                class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                        >
                    </div>

                    <!-- Conditional Inputs -->
                    <ng-container *ngIf="itemType === 'drink'">
                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Sugar Level</label>
                            <select
                                    [(ngModel)]="dialogSugarLevel"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="0%">0%</option>
                                <option value="25%">25%</option>
                                <option value="50%">50%</option>
                                <option value="75%">75%</option>
                                <option value="100%">100%</option>
                            </select>
                        </div>

                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Ice Level</label>
                            <select
                                    [(ngModel)]="dialogIceLevel"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="0%">0%</option>
                                <option value="25%">25%</option>
                                <option value="50%">50%</option>
                                <option value="75%">75%</option>
                                <option value="100%">100%</option>
                            </select>
                        </div>

                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Topping</label>
                            <select
                                    [(ngModel)]="dialogTopping"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="None">None</option>
                                <option value="pearls">Pearls</option>
                                <option value="grass_jelly">Grass Jelly</option>
                                <option value="aloe_vera">Aloe Vera</option>
                                <option value="coconut_jelly">Coconut Jelly</option>
                                <option value="pudding">Pudding</option>
                            </select>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="itemType === 'bottled'">
                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Iced?</label>
                            <select
                                    [(ngModel)]="dialogIced"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="itemType === 'soup'">
                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Soup Flavour</label>
                            <select
                                    [(ngModel)]="dialogSoupType"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300">
                                <option value="sichuan_spicy">Sichuan Spicy Broth</option>
                                <option value="chongqing_spicy">Chongqing Spicy Broth</option>
                                <option value="milky_broth">Milky Broth</option>
                                <option value="tomato">Tomato Broth</option>
                                <option value="wild_mushroom">Wild Mushroom Broth</option>
                            </select>
                        </div>

                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Spice Level</label>
                            <select
                                    [(ngModel)]="dialogSpiceLevel"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="0%">0%</option>
                                <option value="25%">25%</option>
                                <option value="50%">50%</option>
                                <option value="75%">75%</option>
                                <option value="100%">100%</option>
                            </select>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="itemType === 'main'">
                        <div class="mb-5">
                            <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Spice Level</label>
                            <select
                                    [(ngModel)]="dialogSpiceLevel"
                                    class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                            >
                                <option value="0%">0%</option>
                                <option value="25%">25%</option>
                                <option value="50%">50%</option>
                                <option value="75%">75%</option>
                                <option value="100%">100%</option>
                            </select>
                        </div>
                    </ng-container>

                    <!-- Other conditional inputs omitted for brevity -->
                </div>
            </div>

            <!-- Special Instructions -->
            <div class="p-6 pt-0">
                <label class="block font-semibold text-gray-800 dark:text-gray-300 mb-2 font-poppins">Special Instructions</label>
                <textarea
                        [(ngModel)]="dialogSpecialInstructions"
                        placeholder="Any special requests?"
                        class="w-full h-[150px] p-3 border border-gray-300 dark:border-gray-700 rounded-lg focus:ring-2 focus:ring-red-500 font-poppins bg-white dark:bg-gray-800 text-gray-800 dark:text-gray-300"
                ></textarea>
            </div>

            <!-- Footer -->
            <div class="flex justify-end gap-3 px-6 py-4 border-t border-gray-200 dark:border-gray-700">
                <button
                        (click)="dialogRef.close()"
                        class="px-5 py-2 text-sm bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-300 rounded-lg transition-colors hover:bg-gray-300 dark:hover:bg-gray-600 font-poppins"
                >
                    Cancel
                </button>
                <button
                        (click)="onAddToCart(dialogRef)"
                        [disabled]="dialogQuantity < 1"
                        class="px-5 py-2 text-sm bg-red-600 dark:bg-red-700 text-white rounded-lg transition-colors hover:bg-red-700 dark:hover:bg-red-800 disabled:opacity-50 disabled:cursor-not-allowed font-poppins"
                >
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</ng-template>

